precalc.json

.idea/
venv/
.vscode/

software/sw-19
Olicyber_2025/Territoriale/magicBlackBox/nums.txt
Olicyber_2025/Territoriale/rwplayground/rwplayground
Olicyber/software/Readdle/readdle
Olicyber_2024/Territoriale/AgeCalculatorPro/age_calculator_pro
Olicyber_2022/Nazionale/BigBird/bigbird
Olicyber/software/morePrivateClub/moreprivateclub
Olicyber_2023/Training_Camp_2/baby-printf/babyprintf
Olicyber_2026/Territoriali/SuperSecureBank/supersecurebank
Olicyber_2025/Nazionale/LiveAndLetDie/llt.pcap
Olicyber_2023/Training_Camp_2/baby-printf/solve.py
